<p>
  <b>Nome:</b>
  <%=h @vicariato.nome %>
</p>


<h2>Coordenadores de vicariato</h2>

<%= render :partial => 'shared/coordenadores' %>

<%= link_to 'Edit', edit_vicariato_path(@vicariato) %> |
<%= link_to 'Back', vicariatos_path %>
