<p>
  <b>Vicariato:</b>
  <%=h @forania.vicariato.nome %>
</p>

<p>
  <b>Numero:</b>
  <%=h @forania.numero %>
</p>


<%= link_to 'Edit', edit_forania_path(@forania) %> |
<%= link_to 'Back', foranias_path %>
