body {
    background: #ccf;
    font-family: "Helvetica", "Nimbus Sans", "Arial", sans-serif;
    
}
#container {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    width: 720px;
    margin: 1px auto;
    font-size: 14px;
}

#top {
    padding-top: 10px;
    border-bottom: 4px solid #002e9a;
    margin-left: 160px;
    height: 45px;
}

#notice {
    margin: 0;
    padding: 0;
}
#notice p {
    color: #000; 
    background: #ff0; 
    font-weight: bold; 
    text-align: center;
}

#logo {
    width: 150px;
    float: left;
}

#main {
    margin-left: 160px;
    clear: none;
}

#menu {
    float: left;
    clear: left;
    width: 150px;
}

#menu ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

#menu ul li {
    padding-bottom: 5px;
}

#footer {
    clear: both;
    height: 130px;
    padding-top: 3px;
    border-top: 2px solid black;
    font-size: 16px;
    font-weight: bold;
}
#footer p {
    margin-top: 30px;
    margin-left: 160px;
}

#logo-ar {
    width: 120px;
    float: left;
    padding-left: 15px;
}

h1 {
    color: #002e9a;
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 4px;
}

h2 {
    color: #018c0c;
    font-size: 21px;
}

h3 {
    font-size: 17px;
}

a:link {
    color: #002e9a;
}

a:hover {
    color: #e0211a;
}

a:visited {
    color: #009acc;
}

#main-left {
    width: 235px;
    float: left;
}
#main-right {
    width: 235px;
    margin-left: 240px;
}

.vermelho {
    color: #e0211a;
}
.subtitle {
    margin-top: -5px;
    padding-top: 1px;
}