<h1>COMIDI - Conselho Missionário Arquidiocesano</h1>

<p>Total de missionários cadastrados: 
<%= @num_missionarios -%></p>

<%= link_to 'Missionários', missionarios_path -%>
<%= link_to 'Foranias', foranias_path -%>
<%= link_to 'Vicariatos', vicariatos_path -%>
