<div id="menu">
<%= link_to 'Criar usuário', new_usuario_path %>
</div>
<div id="main">
<h1>Lista de usuários</h1>

<table>
  <tr>
    <th>Login</th>

  </tr>

<% for usuario in @usuarios %>
  <tr>
    <td><%=link_to h(usuario.login), usuario %></td>
    <% if usuario.editable_by(Usuario.find(session[:usuario_id])) %>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
