<div id="menu">
  <%= link_to 'Voltar', request.referrer %>
</div>
<div id="main">
<h1>Novo usuário</h1>
<% unless session[:usuario_id] %>
<p class="subtitle">
  Crie um nome de usuário e senha para seu uso no sistema. 
</p>
<% end %>


<%= render :partial => 'form' %>

</div>
