<div id="main">
<p>
  <b>Login:</b>
  <%=h @usuario.login %>
</p>

<p>
  <b>Missionario:</b>
  <%=h @usuario.missionario.nome_cracha if @usuario.missionario %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
</div>
